.section-product-compare {
  min-height: 40vh;
  margin-bottom: 50px;
  width: 100%;
}

product-compare-view #compare-product-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 30px 30px 30px;
  justify-content: flex-start;
  margin-top: 0px;
  column-gap: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255, 0.5) #000;
}

@media screen and (max-width: 768px) {
  product-compare-view .compare-product-card {
    width: fit-content;
  }


  product-compare-view #compare-product-container {
    width: 100%;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 20px;
  }
}


@media screen and (min-width: 768px) {
  product-compare-view .compare-product-card {
    min-width: 338px;
  }
}
product-compare-view a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

product-compare-view #compare-product-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

product-compare-view #compare-product-container::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255, 0.5);
  border-radius: 10px;
}

product-compare-view #compare-product-container::-webkit-scrollbar-track {
  background: #000;
}

product-compare-view h4 {
  margin: 0;
  min-width: 105px;
}

product-compare-view .compare-product-card .product-infos {
  border-top: 1px solid black;
  width: 100%;
}

product-compare-view .remove-product-button {
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

product-compare-view .remove-product-button::before,
product-compare-view .remove-product-button::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: currentColor;
  transition: 0.3s ease;
}

product-compare-view .remove-product-button::before {
  transform: rotate(45deg);
}

product-compare-view .remove-product-button::after {
  transform: rotate(-45deg);
}

product-compare-view .product-selector {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 20px;
}

product-compare-view .select {
  width: fit-content;
}

product-compare-view .select__select {
  font-size: 15px;
}

product-compare-view .heading-wrap {
  position: relative;
  right: 0;
  top: 50%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-bottom: 0px;
}

product-compare-view .loading-spinner-wrap {
  min-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

product-compare-view p {
  color: #1F1F21;
  margin: 0;
  width: 100%;
  padding: 0 10px;
  text-decoration: none;
}

product-compare-view .compare-product-card p {
  text-decoration: none;
}

product-compare-view p:nth-child(even) {
  background-color: rgba(var(--color-foreground), 0.02);
}

product-compare-view h4 {
  border-top: 1px solid rgba(var(--color-foreground), 0.1);
  color: #1F1F21;
  margin: 0;
  font-size: 26px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  text-transform: capitalize;
}

product-compare-view .remove-wrap {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
}

product-compare-view .link-wrapper {
  text-decoration: none;
}

product-compare-view .compare-product-card:hover {
  transform: scale(1.01);
  box-shadow: 10px 0 20px rgba(0,0,0,0.8);
}

product-compare-view .compare-product-card {
  box-shadow: 10px 0 15px rgba(0,0,0,0.5);
  border: 4px solid rgba(var(--color-foreground), 0.3);
  background-color: #e3fc02e7;
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 345px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.1s ease;
}

product-compare-view .compare-product-card .image-wrap {
  background-color: #1F1F21;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

product-compare-view .compare-product-card strong {
  color: #1F1F21;
  text-decoration: none;
}

product-compare-view .compare-product-card #price {
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

product-compare-view .compare-product-card button.add-to-cart {
  border-radius: 50px;
  transition: transform 0.1s ease;
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  product-compare-view .compare-product-card button.add-to-cart {
    scale: (0.5);
  }
}

product-compare-view .compare-product-card button.add-to-cart svg {
  width: 25px;
  opacity: 0;
  transition: opacity 0.1s ease;
}

product-compare-view .compare-product-card button.add-to-cart:hover {
  transform: scale(1.05);
}

product-compare-view .compare-product-card button.add-to-cart:hover svg {
  opacity: 1;
}

product-compare-view .compare-product-card button.add-to-cart::after {
  display: none;
}

product-compare-view .compare-product-card button.add-to-cart .loading__spinner {
  margin-left: 10px;
  margin-top: 5px;
}

product-compare-view .remove-product-button {
  background-color: #eee;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  position: relative;
  cursor: pointer;
}

@keyframes zoomIn {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.7);
    opacity: 0;
  }
}

.zoom-in {
  animation: zoomIn 0.2s ease-out;
}

.zoom-out {
  animation: zoomOut 0.2s ease-out forwards;
}
